/* Estilos del cuerpo */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/Deckard/zoom_dotlines_white.png'); /* Ruta relativa de la imagen */
    background-size: cover; 
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: bottom right; /* Centra la imagen */
}

/* Contenedor principal */
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center; /* Mantiene el texto centrado */
}

/* Formulario */
form {
    margin-top: 20px;
}

input[type="file"] {
    margin: 10px 0;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
