body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #333; /* Fondo gris oscuro */
    color: white; /* Color del texto */
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.sections {
    display: flex;
    flex-direction: column; /* Cambiado a columna para formato vertical */
    margin-top: 20px;
}

.section {
    background-color: #444; /* Fondo de las secciones */
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0; /* Espaciado entre secciones */
}

.subtitle {
    font-size: 1.2em; /* Tamaño más pequeño para los subtítulos */
    margin-bottom: 10px; /* Espacio debajo de los subtítulos */
}

label {
    display: block;
    margin-bottom: 10px;
}

select, input[type="file"] {
    width: 100%; /* Ancho completo */
    padding: 10px;
    margin-bottom: 10px;
}

.preview-box {
    height: 100px; 
    background-color: #555; 
    border-radius: 8px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.process-button {
    background-color: #28a745; /* Color verde */
    color: white; /* Color del texto */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Espacio encima del botón */
}

.process-button:hover {
    background-color: #218838; /* Color verde más oscuro al pasar el mouse */
}
